*.swp
*.swo
.bash_history
.bash_logout
.mozilla/
.cache/
.cups/
.gnupg/
.inputrc
.local/
.sdirs
.ssh/
.viminfo
Downloads/
config.tar.gz
installArch.sh
.config/
.pki/
.wget-hsts
.Xauthority
Musik
.lesshst
Documents/
.w3m/history
.npm/
.1/
.dwm.log
.autojump/
.pylint.d/
*.tmp
*.tags
tags
tmp
project/
.vim/autoload/
.vim/backup/
.vim/colors/1/
.vim/colors/colortest.txt
.vim/doc/
.vim/plugged/
.vim/plugin/
.vim/sessions/
.vim/undo/
.vim/README
.vim/undo/
.vim/.netrwhist

