*.swp
*.swo
.bash_history
.bash_logout
.mozilla/
.cache/
.gnupg/
.inputrc
.local/
.sdirs
.ssh/
.viminfo
Downloads/
.config/
.pki/
.wget-hsts
.Xauthority
Musik
project/
.lesshst
.w3m/history
.npm/
.dwm.log
.autojump/
.pylint.d/
*.tmp
*.tags
tags
tmp
project/
.vim/autoload/
.vim/backup/
.vim/colors/1/
.vim/colors/colortest.txt
.vim/doc/
.vim/plugged/
.vim/plugin/
.vim/sessions/
.vim/undo/
.tmux/resurrect/
.vim/README
.vim/undo/
.vim/.netrwhist
latex/
.ash_history
.bookmarkdir/
.fzf-marks
.python_history
.telegram-cli/
./git-credentials
Documents/
.fzf/
./.git-credentials
*db
./.config/.scopedb/
./.config/QtProject.conf
./.config/pulse/
./.config/youtube-viewer/
./.config/pulse/cookie
./.config/vlc
./.config/dconf
./.config/gtk-3.0
./.config/systemd
./.config/flameshot
./.config/glib-2.0
./.config/omf
./.config/thefuck
./.config/configstore
.tmux/plugins/tpm/
.git-credentials
go/
.bundle
*.list
.cups/
