*.swp
*.swo
.bash_history
.bash_logout
.mozilla/
.cache/
.cups/
.fzf.bash
.fzf/
.gitconfig
.gitfiles/
.gitignore
.gnupg/
.inputrc
.local/
.profile
.sdirs
.ssh/
.viminfo
Downloads/
config.tar.gz
installArch.sh
.config/
.tmux/
.vim/
.pki/
.wget-hsts
.Xauthority
Musik
.lesshst
Documents/

