[user]
	name = Marco-Israel
	email = Marco-Israel@gmx.de
[credential]
	helper = store
[push]
	default = simple
[commit]
  template = ~/.gitfiles/templates/commit.template
[alias]
    co = checkout
    ci = commit
    cm = commit
    st = status
    br = branch
	ac = !git add -A && git commit
	add-commit = !git add -A && git commit
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    listInControl='git ls-tree -r master --name-only --full-tree'
    #If you want a list of files that ever existed (i.e. including deleted files):
    everExists="git log --pretty=format: --name-only --diff-filter=A | sort - | sed '/^$/d'"
    last = 'log -1 HEAD'
    latest = 'show --name-only --oneline HEAD'
    down = 'pull --rebase origin master'
    up = 'push -u origin master'
    save = '!git add -A; git commit .'
    uptags = 'push --follow-tags'
    downtags = 'fetch --tags'
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[diff]
	tool = vimdiff
[core]
	pager = "less -MRi "


################################################################################
# Hits
################################################################################

#Find a deleted string
# git grep <regexp> $(git rev-list --all -- lib/util) -- lib/util
[init]
	defaultBranch = master
