*.swp
*.swo
*.*~
.*~
*.d
*.o
*.out
*.p1
*.a
*.gcov
*.gcno
*.gcda
*a.out
*.zip
tmp
pdfs
gcov
objs
lib
gcov*.html
ErrorLogs
testResults
.metadata
Debug
*/Debug/*
*.exe
*.obj
*.ncb
*.opt
*.plg
*.idb
*.pdb
*.sou
*.sdf
*.lib
*.log
*.tlog
*.cache
*.user
*.sublime-*
1
2
3
