SUBJECT_TAG Subject_52CharsWithoutDotImperative

------------------------------------------------------------------------
DETAILS:
EachLine72chars

------------------------------------------------------------------------
FINALT:
FINALT_TAG IncidentNumberEg_FinalPost

--- COMMIT ENDS HERE ---------------------------------------------------

########################################################################
# --------------------
# SUBJECT_TAG can be
#   ADD         (Added new content to exsisting file; eg. a new var)
#   DBG         (Changes in debugging code only; not in production code)
#   DOC         (Changes to documentation)
#   FEAT        (Howl new feature added)
#   FIX         (Bug fix)
#   NEW         (Howl brand new file added)
#   REFAC       (Refactoring code)
#   STYLE       (Formatting, missing semi colons, etc; no code change)
#   TEST        (adding or refactoring tests; no production code change)
#   TODO        (Temporary fix to; please avoid it AND fix it asp.)
#   LIC         (Edits/New licensing; no production code change)
#   VERS        (Version bump/new release; no production code change)
#   WIP         (Work In Progress; for intermediate commits)
#   NONE        (None of this)
#
# Note: Multiple tags are allowed.
#
# --------------------
# FINALT_TAG can be
#   OPEN        (New incident was open with number)
#   CLOSE       (Incident with number was closed)
#   REOPEN      (Incident with number was reopend)
#
# Note: Multiple entries are allowed; e.g multiple tags open/closed.
#
# --------------------
# Remember to:
#   * Capitalize the subject line.
#   * Use the imperative mood in the SUBJECT line.
#   * Do not end the SUBJECT line with a period.
#   * Maximum to SUBJECT si 52 cahrs. Maximum to DETAILS/FINAL is 72.
#   * Separate SUBJECT from DETIL and FINAL with a blank line.
#   * Use the DETAIL to explain what and why. Not how.
#   * Can use multiple lines with "-" or "*" in DETAILS/FINAL
#   * Multiple tags are allowed in SUBJECT and FINALT.
#   *
#   * !!! FINALLY: NEVER COMMIT TO MUCH THINGS IN ON COMMIT !!!
# --------------------
#######################################################################
